#Makefile.in for GeoByGeo

#This file contains the user-specified build options and is machine-specific.

#C Compiler
CC       = gcc

#Compile flags
USE_OMP   = 0
OMP_FLAG    = -fopenmp
USE_DEBUG = 1  # Compile with symbol table and all warnings
USE_OPT   = 0  # Compile with optimization.

